<style>
  body
  {
    background-color: rgb(178, 178, 192);
  }
</style>
<div class="container">
  <div class="outer">
      <div class="details">
      </div>
    </div>
   </div>
        <link rel="stylesheet" href="/css/styles.css">
     <div class="col-md-5 m-auto" style="position: relative; top: 80px;">
      <div class="card card-body text-center x">
          <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
          <h1>
            <img src="../public/images/profile.png" alt="" height="50px" weight="50px">
          </h1>
          <p>Create an account or login</p>
          <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
          <a href="/users/login" class="btn btn-info btn-block">Login</a>
<!--     
          <div class='auth' style="display: flex;">
          <a class="btn  btn-google link" href="/auth/google" role="button">
            <i class="fab fa-google fa-1x"></i>
            &nbsp;&nbsp;&nbsp;Sign Up with Google
          </a> -->
<!--     
       
          <a class="btn btn-facebook btn-social link2" href="/auth/facebook" role="button">
          <i class="fab fa-facebook fa-1x"></i>
          &nbsp; Sign Up with Facebook</a>
         </div> -->

         <!-- <a href="">afaefae</a> -->
         <!-- <a href="">afaefae</a>
         <a href="">afaefae</a>
         <a href="">afaefae</a>
         <a href="">afaefae</a> -->


     </div>
    </div>
  <!-- </div> -->

  <!-- </div>
 </div>
</div> -->
